# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*.lst
*.properties
*.iml
target/classes/img/robot.png
target/classes/img/reroll.png
target/classes/img/pole.png
target/classes/img/plant.png
target/classes/img/grieve.png
target/classes/img/flowerbed.png
target/classes/img/dice.png
target/classes/img/contract.png
target/classes/img/amber.png
target/classes/localization/other.json
target/classes/img/venomousscales.png
target/classes/img/snail.png
target/classes/img/poison_scale.png
target/classes/localization/other.json
.idea/workspace.xml
.idea/vcs.xml
